{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
<h3 class="text-white my-5">About Page</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero velit adipisci laboriosam reprehenderit, nemo illum sint sit doloribus et esse officiis beatae quis quo molestiae inventore, cupiditate sequi! Obcaecati, perspiciatis?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium iusto fuga architecto? Sint officia nesciunt ratione, illum rerum quod quam eaque iusto minus soluta laborum, ut quis ea. Nulla, praesentium.</p>
</div>
{% endblock content %}